@{
    Layout = "~/Views/Shared/Site/SiteLayout.cshtml";
}

@model List< SiemensECommerce.UI.Models.VM.CartVM>

<button onclick='emptyCart()'>Empty Cart</button>
<ul id="items">
    @foreach (var item in Model)
    {
        <div>
            <li>@item.Name / @item.Quantity</li>
            <button onclick='removeItem(@item.ProductId)'>Remove Item</button>
        </div>

    }
</ul>

<script>

    //Bu fonksiyon tüm sepeti boşaltacak
    function emptyCart(){
        $.ajax({
            url:'/cart/removeall',
            type:'POST',
            data: null,
            success: function(data){
                alert("Sepet boşaltıldı.");
                document.getElementById("items").remove();
                document.getElementById("cartLength").innerHTML = "0";
            }
        })

    }

    //bu fonksiyon seçilen ürünü sepetten silecek
    function removeItem(){

    }
</script>