   <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/AdminHome">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Siemens ECommerce<sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategory"
                    aria-expanded="true" aria-controls="collapseCategory">
                    <i class="fas fa-braille"></i>
                    <span>Category</span>
                </a>
                <div id="collapseCategory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
        
                        <a class="collapse-item" href="/AdminCategory">Categories List</a>
                        <a class="collapse-item" href="/AdminCategory/Add">Add Category</a>
                         
                    </div>
                </div>
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSupplier"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-truck"></i>
                    <span>Supplier</span>
                </a>
                <div id="collapseSupplier" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
        
                         <a class="collapse-item" href="/AdminSupplier">Supplier List</a>
                          <a class="collapse-item" href="/AdminSupplier/Add">Add Supplier</a>
                    </div>
                </div>
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBrand"
                    aria-expanded="true" aria-controls="collapseBrand">
                    <i class="fab fa-delicious"></i>
                    <span>Brand</span>
                </a>
                <div id="collapseBrand" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
        
                         <a class="collapse-item" href="/AdminBrand">Brand List</a>
                          <a class="collapse-item" href="/AdminBrand/Add">Add Brand</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdminUser"
                    aria-expanded="true" aria-controls="collapseAdminUser">
                    <i class="fas fa-user-alt"></i>
                    <span>Admin User</span>
                </a>
                <div id="collapseAdminUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
        
                         <a class="collapse-item" href="/AdminUser">Admin User List</a>
                          <a class="collapse-item" href="/AdminUser/Add">Add an Admin User</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWebUser"
                    aria-expanded="true" aria-controls="collapseWebUser">
                    <i class="fas fa-address-book"></i>
                    <span>Web User</span>
                </a>
                <div id="collapseWebUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
        
                         <a class="collapse-item" href="/WebUser">Web User List</a>
                          <a class="collapse-item" href="/WebUser/Add">Add an Web User</a>
                    </div>
                </div>
            </li>
            
              <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct"
                    aria-expanded="true" aria-controls="collapseProduct">
                    <i class="	fas fa-barcode"></i>
                    <span>Product</span>
                </a>
                <div id="collapseProduct" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                         <a class="collapse-item" href="/AdminProduct">Product List</a>
        
                          <a class="collapse-item" href="/AdminProduct/Add">Add an Product</a>
                    </div>

                </div>
            </li>

               <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder"
                    aria-expanded="true" aria-controls="collapseOrder">
                    <i class="	fas fa-barcode"></i>
                    <span>Order</span>
                </a>
                <div id="collapseOrder" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                         <a class="collapse-item" href="/Order">Order List</a>
        
                      
                    </div>

                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>