@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}

@model List<AdminUser>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>EMail</th>             
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.EMail</td>                   
                    <td><a href="/AdminUser/Update/@item.Id">Update</a></td>
                    <td><a href="/AdminUser/Delete/@item.Id">Delete</a></td>                
                </tr>
            }
        </tbody>
    </table>
</div>