@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}
@model SiemensECommerce.UI.Models.VM.AdminUserVM

<form action='/AdminUser/Update' method='post'>
    
    @Html.ValidationSummary()

    <div class="form-group">
        <label>EMail:</label>
        @Html.TextBoxFor(q => q.EMail, new{ @class="form-control" })
    </div>
    <div class="form-group">
        <label>Password:</label>
        @Html.TextBoxFor(q => q.Password, new{ @class="form-control" })
    </div>
      <div class="form-group">
        <label>ConfirmPassword:</label>
        @Html.TextBoxFor(q => q.ConfirmPassword, new{ @class="form-control" })
    </div>
   
    <div>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>