@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}

@model Cargo

<form action ="/Cargo/add" method ="post">
    @Html.ValidationSummary()
<div class="form-group">
        <label>  Name: </label>
        @Html.TextBoxFor(q => q.Name, new{ @class="form-control" })
    </div>
    <div class="form-group">
        <label> Description: </label>
        @Html.TextBoxFor(q => q.Description, new{ @class="form-control" })
    </div>

    <div>
        <button>ADD</button>
    </div>
</form>