@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}

@model List<Category>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td><a href='/AdminCategory/Update/@item.Id'>Update</a></td>
                    <td><a href="/AdminCategory/Delete/@item.Id">Delete</a></td>
                </tr>
            }

        </tbody>


    </table>

</div>