@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}

@model Category


<form action='/AdminCategory/Update' method='post'>

    @Html.HiddenFor(q => q.Id)
    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(q => q.Name, new{ @class="form-control" })
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>