
<div class="row">
    <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
        <section class="page-title">
            <h1>Şifremi  unuttum</h1>
        </section>
        <!--end page-title-->
        <section>
            <form class="form inputs-underline" method="post" action="/forgotpassword/forgotpassword">
                <div class="form-group">
                    <label for="email">E Posta</label>
                    <input type="email" class="form-control" required="" name="Eposta" id="Eposta" placeholder="Mail Adresiniz">
                </div>
                <!--end form-group-->

                <div class="form-group center">
                    <button type="submit" class="btn btn-primary width-100">Şifre sıfırlama bağlantısı gönder</button>
                </div>

                <!--end form-group-->
            </form>

            <hr>


        </section>
    </div>
    <!--col-md-4-->
</div>